streamlit
langchain==0.1.16
langchain-community==0.0.33
langchain-chroma>=0.1.0
langchain-huggingface
transformers==4.40.1
torch
sentence-transformers
chromadb>=0.5.4
duckdb
pypdf
pandas
numpy==1.26.4
requests
python-dotenv
reportlab
pysqlite3-binary==0.5.2.post3
